body {
	background-color: red;
	padding: 0px;
	margin: 0px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 40px;
	font-family: Tahoma;
}

div#logo {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

h2 { 
	color: navy;
	text-align: center;
	font-size: 30px;
	font-family: Tahoma;
}

img {
	width: 100%;
}